
@import 'reset';
/*@import 'mediaqueries.scss';*/

/* VARIABLES */
$purple-0: #f2e6ff;
$purple-1: #e5ccff;


$white:   #ffffff;
$black:   #000000;
$grey:    #9C9C9C;
$gold:    #FFBC52;

$pink-6:  rgba(241, 176, 233, 0.6);
$pink-8:  rgba(241, 176, 233, 0.8);
$grey-5:  rgba(1, 1, 1, 0.5);
$grey-8:  rgba(1, 1, 1, 0.8);

$max-contw: 1200px;
$max-conth: 1000px;


/* TYPOGRAPHY */
text, h1, h2, h3, h4, p, a {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 2em;
  font-weight: 400;
}


/* MAIN STYLES */
body {
  background-color: white;
  /*color: navy;*/
  margin: 0 auto;
  clear: both;
  width: 100%;
}

a {
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.col-container {
  clear: both;
  float: none;
  margin: auto;
}

.col {
  float: left;
  margin: auto;
}

.col-50 {
  width: 50%;
}


.flood-section {
  width: 100vw;
  height: 100vh;
  background: url("/images/basketweave.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.btn {
/*  width: 70%;
  height: 2.5em;
  border: $white solid;
  color: $white;
  border-radius: 30px;
  padding: 8px 15px;
  margin: 20px auto;*/
  margin: 20px auto;
  &:hover {
    background-color: $grey;
  }
}

.mid-col {
  width: 70%;
  height: 2.5em;
  border: $white solid;
  color: $white;
  border-radius: 30px;
  padding: 8px 15px;
}

.user-form {
  input {
    margin-bottom: 10px;
  }
}

.banner {
  width: 90%;
  margin: 200px auto 0 auto;
  text-align: center;

}

.banner-title {
  color: white;
}










.sign-in-btn {
  float: right;
  margin: 5px;
}

.sign-in-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);

}

.sign-in-form {

  width: 80%;
  margin: auto;

  input {
    width: 100%;
    height: 3em;
    margin: 15px auto 0 auto;
    border: $grey solid 2px;
    border-radius: 30px;
    padding: 15px;
  }  
}

.banner-search {
  input[type="text"] {
    width: 75%;
    height: 3em;
    border: none;
    border-radius: 30px;
    padding: 0 15px;
  }
}

.close-btn {
  width: 30px;
  float: right;

  &:hover {
    background-color: $grey;
    border-radius: 50%;
  }
}

.close-x {
  stroke: black;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}
