<section id='home' class="flood-section">



	<div ng-show="(showSignIn == false) && (showRegister == false)" class="banner">
		<h1 class="banner-title">TITLE goes here</h1>
		<div class="btn mid-col" ng-click="showSignIn = true; showRegister = false"> Sign In </div>
		<div class="btn mid-col" ng-click="showRegister = true; showSignIn = false"> Register </div>
	</div>






	<div ng-show="showSignIn" class="banner user-form">
		<form>
			<input class="mid-col" type="email" ng-model="user.email" placeholder="Email:">
			<input class="mid-col" type="password" ng-model="user.password" placeholder="Password:">
			<div class="col-container">
				<div class="col col-50">
					<div class="btn mid-col" ng-click="showSignIn = false"> Back </div>
				</div>
				<div class="col col-50">
					<div class="btn mid-col" ng-click="signin()"> Sign In </div>
				</div>
			</div>
		</form>
	</div>


	<div ng-show="showRegister" class="banner user-form">
		<form>
			<input class="mid-col" type="email" ng-model="user.email" placeholder="Email:">
			<input class="mid-col" type="password" ng-model="user.password" placeholder="Password:">
			<input class="mid-col" type="password" ng-model="user.password2" placeholder="Confirm Password:">
			<div class="col-container">
				<div class="col col-50">
					<div class="btn mid-col" ng-click="showRegister = false"> Back </div>
				</div>
				<div class="col col-50">
					<div class="btn mid-col" ng-click="register()"> Register </div>
				</div>
			</div>
		</form>
	</div>




</section>